<nav class="navbar navbar-default">
  <ul id="navbar" class="nav navbar-nav">
    <li>
      <%= link_to "Inicio", welcome_index_path %>
    </li>
    <li>
      <%= link_to "Imagenes", pins_path %>
    </li>
  </ul>
</nav>