<article class="contenedor">
  <article id="elemento"><a href="#" class="be-red"><i class="fa fa-youtube fa-2x" aria-hidden="true"></i></a></article>
  <article id="elemento"><a href="https://www.facebook.com/jerddeldistribuidora/" target="_blank" class="fb"><i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i></a></article>
  <article id="elemento"><a href="#" class="be-red"><i class="fa fa-google fa-2x" aria-hidden="true"></i></a></article>
</article>