<article class="container page-header" style="width: 60%;">
  <article class="panel panel-primary">
    <article class="panel-heading">
      <h1>Nuevo Producto</h1>
    </article>
    <article class="panel-body">
      <%= render 'form' %>
      <% if @value == "Inicio"
           @id = 1
         else
           @id = 2
         end
      %>
      <%= link_to 'Regresar',{controller: "galleries",id: @id}, class: "btn btn-danger" %>
    </article>
  </article>
</article>